asgiref==3.2.7
Django==3.0.6
django-geojson==3.0.0
django-jsonfield==1.4.0
django-leaflet==0.26.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
