<!doctype html5>
<html lang="en">

{% load leaflet_tags %}  
{% load static %}
{% include "base.html" %}
{% leaflet_js %}
{% leaflet_css %}
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Mushraq | Riyadh Real Estate History</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/photo.jpg' %}" type="image/png" style="max-height:20px" class="img-responsive">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}" type="text/css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" type="text/css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" type="text/css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}" type="text/css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!--====== map loading ======-->
    </head>
<!-- user input -->
{% block content %}
    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
<!--                        <img src="assets/images/services.png" alt="services">-->
                    </div>
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">This is coming soon.</h4>
                        <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s"></p>
    
{% endblock %}
      <body>                    
    </body>
                    </div>
                </div>
            </div>
        </div>
    </section>

