<!doctype html5>
<html lang="en">

{% load leaflet_tags %}  
{% load static %}
{% include "base.html" %}
{% leaflet_js %}
{% leaflet_css %}
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Mushraq | Riyadh Real Estate History</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}" type="text/css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" type="text/css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" type="text/css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}" type="text/css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!--====== map loading ======-->
    <style>
      .leaflet-container { height: 90% !important; 
                            margin: 1%;
                            margin-left: 3%;
                            margin-right: 3%;
          box-shadow: 0 0 3px black;
          min-height: 300px;
        }
    </style>
    <script>
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        var cent = map.getCenter()
        var dataurl = '{% url "data" lat=12345 long=11 %}'.replace(/12345/, (cent['lat'])).replace(/11/, cent['lng']);
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<table class="table">
  <tr>
    <th>Parcel No</th>
    <th>Plan No</th>
<th>Area [m^2]</th>
  </tr>
  <tr>
    <td>${props.parcelno}</td>
    <td>${props.planno}</td>
 <td>${Math.round(props.area)}</td>
</table>
<table class="table">
  <tr>
    <th>Date of Transaction</th>
    <th>Price [SAR]</th>
    <th>Price/m^2 [SAR]</th>
    <th>Price Change [%]</th>
  </tr>`;
                if (props.history) { 
                    var xx = ''
                    var his = props.history
                    for (i = 0; i < his.length; i++) {
                    var date = his[i].fields.date
                    var price = his[i].fields.price
                    var pricem2 = Math.round(price/props.area)
                    if (i == his.length-1) { 
                        var change = 0;
                    }                                 
                    else {
                        var change = Math.round((((his[i].fields.price)-(his[i+1].fields.price))/(his[i+1].fields.price)*100) * 100) / 100
                    };
                    xx = xx + `
                      <tr>
                        <td>${date}</td>
                        <td>${price}</td>
                        <td>${pricem2}</td> 
                        <td>${change}%</td> 
                      </tr>
                        `
                    } xx = xx + "</table>" ;} else { 
                    var xx = "</table>"};
            layer.bindPopup(content+xx, {
    maxWidth : 500
});
            }}).addTo(map);
          });
//          map.locate({setView: true, maxZoom: 12});
      });
    
            </script>

</head>

{% block content %}
<!-- user input -->
<body>
<div class="container align-items-center pt-2 pr-1">
      <form method='GET' action='' class="form-inline align-items-center">
    <label class="control-label ml-2 mr-sm-5"><strong> Enter Address: <br> (or coordinates
        <br> e.g. 24.73, 46.680)</strong></label>
     <input type='text' name='location' id="addressbar" class="form-control mr-sm-4 col-md-7" placeholder='' required/>

            <button type="submit" id="gotolatlong" class="btn btn-secondary">Search</button>
<form>
    <button type="submit" onclick="getLoc()" class="btn btn-secondary ml-2">My Location</button>
</form>

<script>

function getLoc() {
    navigator.geolocation.getCurrentPosition(function(position) { 
    document.getElementById("addressbar").value = [position.coords.latitude, position.coords.longitude]
    setTimeout(function(){ document.getElementById("gotolatlong").click(); }, 3000);
    
    })
}
</script>
          <div class="align-items-center ml-5 mt-3"> 
        {% if address %}
          <p><strong> Entered address: </strong>{{address}} </p>
          <p><strong> Coordinates of location:</strong> {{coordinates}} </p>
               <script type="text/javascript">
                function map_init_basic (map, options) {
            marker = new L.marker([{{lat}}, {{long}}])
		.bindPopup("<h3>"+'Entered Location'+"</h3>")
		.addTo(map);
                map.setView([{{lat}}, {{long}}], 15)
                console.log({{lat}}, {{long}})
        var dataurl2 = '{% url "data" lat=12345 long=15666 %}'.replace(/12345/, {{lat}}).replace(/15666/, {{long}});  
        fetch(dataurl2)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<table class="table">
  <tr>
    <th>Parcel No</th>
    <th>Plan No</th>
<th>Area [m^2]</th>
  </tr>
  <tr>
    <td>${props.parcelno}</td>
    <td>${props.planno}</td>
 <td>${Math.round(props.area)}</td>
</table>
<table class="table">
  <tr>
    <th>Date of Transaction</th>
    <th>Price [SAR]</th>
    <th>Price/m^2 [SAR]</th>
    <th>Price Change [%]</th>
  </tr>`;
                if (props.history) { 
                    var xx = ''
                    var his = props.history
                    for (i = 0; i < his.length; i++) {
                    var date = his[i].fields.date
                    var price = his[i].fields.price
                    var pricem2 = Math.round(price/props.area)
                    if (i == his.length-1) { 
                        var change = 0;
                    }                                 
                    else {
                        var change = Math.round((((his[i].fields.price)-(his[i+1].fields.price))/(his[i+1].fields.price)*100) * 100) / 100
                    };
                    xx = xx + `
                      <tr>
                        <td>${date}</td>
                        <td>${price}</td>
                        <td>${pricem2}</td> 
                        <td>${change}%</td> 
                      </tr>`
                    } xx = xx + "</table>" ;} else { 
                    var xx = "</table>"};
            layer.bindPopup(content+xx, {
    maxWidth : 600
});
            }}).addTo(map);
          });}
	</script>
          {% endif %}
          </div>
    
      </form>
</div>

{% endblock %}
    {% leaflet_map "main" callback="window.map_init_basic" %}  
    </body>
</html>
