<!doctype html>
<html lang="en">

{% load leaflet_tags %}  
{% load static %}
{% include "base.html" %}
        {% leaflet_js %}
{% leaflet_css %}
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>ٍتاريخ عقار الرياض</title>

    <!--====== Favicon Icon ======-->
<!--    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">-->

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--====== map loading ======-->
    <style>
      .leaflet-container { height: 90% !important; 
                            margin-top: 4%;}
    </style>
    <script>
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.title}</h3><p>${props.description}
                            <table class="popup-table">
  <tr>
    <th>Date of Transaction</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>December 20th, 2019</td>
    <td>{props.price}</td>
  </tr>
  <tr>
    <td>December 20th, 2019</td>
    <td>1,000,000</td>
  </tr>
</table></p>`;
            layer.bindPopup(content, {
    maxWidth : 200
});
            }}).addTo(map);
          });
          map.locate({setView: true, maxZoom: 12});
      });
            </script>

</head>
<body>
{% block content %}
<!-- user input -->
<form>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <h3>Please enter a location name or address.</h3>
      <form id='input' method='post' action='index.html'>
        <p>Enter Address: <input type='text' name='location' placeholder='١٨ أبن الأثنير' required/></p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
</form>
    {% leaflet_map "main" %}
  </body>
</html>
