<!doctype html>
<html lang="en">

{% load leaflet_tags %}  
{% load static %}
{% include "base.html" %}
        {% leaflet_js %}
{% leaflet_css %}
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Mushraq | Riyadh Real Estate History</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/photo.jpg' %}" type="image/png" style="max-height:20px" class="img-responsive">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--====== map loading ======-->
    <style>
      .leaflet-container { height: 90% !important; 
                            margin: 1%;
                            margin-left: 3%;
                            margin-right: 3%;
          box-shadow: 0 0 3px black;
          min-height: 400px;
        }
    </style>
    <script>
      var dataurl = '{% url "data" %}';
      var parceldetails = '{% url "details" %}'
      var xx = parceldetails.fields
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<table class="table">
  <tr>
    <th>Parcel No</th>
    <th>Plan No</th>
<th>Area [m^2]</th>
  </tr>
  <tr>
    <td>${props.planno}</td>
    <td>${props.parcelno}</td>
 <td>${Math.round(props.area)}</td>
</table>'
{for ${props.planno}
                            <table class="table">
  <tr>
    <th>Date of Transaction</th>
    <th>Price [SAR]</th>
  </tr>
  <tr>
    <td>December 20th, 2019</td>
    <td>{props.price}</td>
  </tr>
  <tr>
    <td>December 20th, 2019</td>
    <td>1,000,000</td>
  </tr>
</table>`;
            layer.bindPopup(content, {
    maxWidth : 600
});
            }}).addTo(map);
          });
//          map.locate({setView: true, maxZoom: 12});
      });
            </script>

</head>

{% block content %}
<!-- user input -->
<body>
<div class="container align-items-center pt-3 pr-1">
      <form method='GET' action='' class="form-inline align-items-center">
    <label class="control-label ml-5 mr-sm-5"><strong> Enter Address:</strong></label>
     <input type='text' name='location' class="form-control mr-sm-4 col-md-7" placeholder='' required/>

            <button type="submit" class="btn btn-secondary">Search</button>
       
          <div class="container align-items-center ml-5 mt-3"> 
        {% if address %}
          <p><strong> Entered address: </strong>{{address}} </p>
          <p><strong> Coordinates of location:</strong> {{coordinates}} </p>
               <script type="text/javascript">
         function map_init_basic (map, options) {
            marker = new L.marker([{{lat}}, {{long}}])
		.bindPopup("<h3>"+'Entered Location'+"</h3>")
		.addTo(map);}
	</script>
          {% endif %}
          </div>
    
      </form>
</div>
    
{% endblock %}
    {% leaflet_map "main" callback="window.map_init_basic" %}  
    </body>
</html>
